body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}

.header {
  text-align: center;
  padding: 25px;
}

h1 {
  color: #4fc3f7;
  font-size: 26px;
}

p {
  font-size: 14px;
  opacity: 0.9;
}

/* EDITOR BOX */
.editor-box {
  width: 80%;
  margin: auto;
  background: #0d1b22;
  padding: 18px;
  border-radius: 15px;
}

/* 🔧 FIX: MEDIUM FONT */
.CodeMirror {
  height: 210px;
  font-size: 18px;   
  border-radius: 10px;
 

}

/* BUTTONS */
.buttons {
  margin-top: 12px;
  text-align: center;
}

button {
  padding: 8px 14px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
}

/* BUTTON COLORS */
.run { background: #22c55e; }
.hint { background: #6366f1; color: white; }
.copy { background: orange; }
.explain { background: #e5e7eb; }
.challenge { background: #9ca3af; }

button:hover {
  opacity: 0.85;
}

/* OUTPUT BOXES */
.output-box {
  width: 80%;
  margin: 15px auto;
  background: #0d1b22;
  padding: 12px;
  border-radius: 10px;
}


pre {
  background: #111;
  padding: 12px;
  border-radius: 8px;
  min-height: 90px;   /* 👈 reduced */
  max-height: 140px;  /* 👈 prevents huge boxes */
  overflow-y: auto;
  font-size: 13px;
}

/* HEADINGS */
.output-box h3 {
  margin-bottom: 8px;
  font-size: 16px;
}
.editor-box, .output-box {
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}
/* Reduce line height inside editor */
.CodeMirror pre {
  line-height: 1.2 !important;
}
.CodeMirror-lines {
  padding-top: 6px;
  padding-bottom: 6px;
}
/* Reduce cursor height */
.CodeMirror-cursor {
  height: 20px !important; 
}
